.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 10px;
}

.gridContainer li {
  list-style-type: none;
  padding: 16px;
}

.contentThumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favouritedMessage {
  margin: 6px;
}

.contentIcon {
  height: 24px;
  width: 24px;
}
